{
    "switches": [
        {
            "login_data":
            {
                "ip": "10.128.255.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"T1",
                    "port":"3"
                },
                {
                    "name":"T2",
                    "port":"4"
                },
                {
                    "name":"T3",
                    "port":"5"
                }

            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"T4",
                    "port":"5"
                },
                {
                    "name":"T5",
                    "port":"6"
                },
                {
                    "name":"T6",
                    "port":"7"
                },
                {
                    "name":"T7",
                    "port":"8"
                },
                {
                    "name":"T8",
                    "port":"9"
                },
                {
                    "name":"T9",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.12",
                "port": "80"
            },
            "devices": [
                {
                    "name":"T10",
                    "port":"1"
                },
                {
                    "name":"T11",
                    "port":"3"
                },
                {
                    "name":"T12",
                    "port":"4"
                },
                {
                    "name":"T13",
                    "port":"5"
                },
                {
                    "name":"T14",
                    "port":"6"
                },
                {
                    "name":"T15",
                    "port":"7"
                },
                {
                    "name":"T16",
                    "port":"9"
                },
                {
                    "name":"T17",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.120.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"T18",
                    "port":"1"
                }
            ]
        }
    ]
}
