{
    "switches": [
        {
            "login_data":
            {
                "ip": "10.128.122.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"TB-01:CamMF-01",
                    "port":"3"
                },
                {
                    "name":"TB-01:CamMF-02",
                    "port":"4"
                },
                {
                    "name":"TB-02:CamMF-03",
                    "port":"5"
                }

            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"TB-02:CamMF-04",
                    "port":"5"
                },
                {
                    "name":"TB-03:CamMF-05",
                    "port":"6"
                },
                {
                    "name":"TB-04:CamMF-06",
                    "port":"7"
                },
                {
                    "name":"BO-01:CamMF-01",
                    "port":"8"
                },
                {
                    "name":"BO-01:CamMF-02",
                    "port":"9"
                },
                {
                    "name":"BO-02:CamMF-03",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.12",
                "port": "80"
            },
            "devices": [
                {
                    "name":"C29",
                    "port":"1"
                },
                {
                    "name":"C18",
                    "port":"3"
                },
                {
                    "name":"C30",
                    "port":"4"
                },
                {
                    "name":"C23",
                    "port":"5"
                },
                {
                    "name":"C27",
                    "port":"6"
                },
                {
                    "name":"C25",
                    "port":"7"
                },
                {
                    "name":"C22",
                    "port":"9"
                },
                {
                    "name":"C28",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.120.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"BO-49:CamLV-01",
                    "port":"1"
                }
            ]
        }
    ]
}
