{
    "localizations":[
        {
            "local_name":"Room 1",
            "switches": [
                {
                    "id": 0,
                    "login_data":
                    {
                        "ip": "10.129.0.100",
                        "port": "80"
                    },
                    "devices": [
                        {
                            "name":"T1",
                            "port":"3"
                        },
                        {
                            "name":"T2",
                            "port":"5"
                        }

                    ]
                },
                {
                    "id": 1,
                    "login_data":
                    {
                        "ip": "10.129.0.101",
                        "port": "80"
                    },
                    "devices": [
                        {
                            "name":"T3",
                            "port":"3"
                        },
                        {
                            "name":"T4",
                            "port":"5"
                        }
                    ]
                }
            ]
        },
        {
            "local_name":"Room 2",
            "switches": [
                {
                    "id": 0,
                    "login_data":
                    {
                        "ip": "10.129.10.101",
                        "port": "80"
                    },
                    "devices": [
                        {
                            "name":"T5",
                            "port":"3"
                        },
                        {
                            "name":"T7",
                            "port":"5"
                        }

                    ]
                }
            ]
        }
    ]
}
