{
  "rooms": [
    {
      "id": 0,
      "name": "Sala de Conectividade",
      "switches": [
        {
          "ip": "10.129.0.100"
        }
      ]
    },
    {
      "id": 1,
      "name": "Sala de Racks 1",
      "switches": [
        {
          "ip": "10.129.0.100"
        },
        {
          "ip": "10.129.0.101"
        }
      ]
    },
    {
      "id": 20,
      "name": "Sala de Racks 20",
      "switches": [
        {
          "ip": "10.129.0.101"
        }
      ]
    }
  ]
}
