{
  "rooms": [
    {
      "id": 0,
      "name": "Sala de Conectividade",
      "switches": [
        {
          "ip": "10.128.122.10"
        }
      ]
    },
    {
      "id": 1,
      "name": "Sala de Racks 1",
      "switches": [
        {
          "ip": "10.128.101.10"
        },
        {
          "ip": "10.128.101.12"
        }
      ]
    },
    {
      "id": 20,
      "name": "Sala de Racks 20",
      "switches": [
        {
          "ip": "10.128.120.10"
        }
      ]
    }
  ]
}
