{
    "switches": [
        {
            "login_data":
            {
                "ip": "10.128.255.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"TB-01:Cam-01",
                    "port":"3"
                },
                {
                    "name":"TB-01:Cam-02",
                    "port":"4"
                },
                {
                    "name":"TB-02:Cam-03",
                    "port":"5"
                }

            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"TB-02:Cam-04",
                    "port":"5"
                },
                {
                    "name":"TB-03:Cam-05",
                    "port":"6"
                },
                {
                    "name":"TB-04:Cam-06",
                    "port":"7"
                },
                {
                    "name":"BO-01:Cam-01",
                    "port":"8"
                },
                {
                    "name":"BO-01:Cam-02",
                    "port":"9"
                },
                {
                    "name":"BO-02:Cam-03",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.101.12",
                "port": "80"
            },
            "devices": [
                {
                    "name":"T10",
                    "port":"1"
                },
                {
                    "name":"T11",
                    "port":"3"
                },
                {
                    "name":"T12",
                    "port":"4"
                },
                {
                    "name":"T13",
                    "port":"5"
                },
                {
                    "name":"T14",
                    "port":"6"
                },
                {
                    "name":"T15",
                    "port":"7"
                },
                {
                    "name":"T16",
                    "port":"9"
                },
                {
                    "name":"T17",
                    "port":"10"
                }
            ]
        },
        {
            "login_data":
            {
                "ip": "10.128.120.10",
                "port": "80"
            },
            "devices": [
                {
                    "name":"BO-49:CamV-01",
                    "port":"1"
                }
            ]
        }
    ]
}
