{
  "switches": [
    {
      "login_data": {
        "ip": "10.129.0.100",
        "port": "80"
      },
      "devices": [
        {
          "name": "Teste:T1:PwrState",
          "port": "3"
        },
        {
          "name": "Teste:T2:PwrState",
          "port": "5"
        }
      ]
    },
    {
      "login_data": {
        "ip": "10.129.0.101",
        "port": "80"
      },
      "devices": [
        {
          "name": "Teste:T3:PwrState",
          "port": "3"
        },
        {
          "name": "Teste:T4:PwrState",
          "port": "5"
        }
      ]
    }
  ]
}
