{
    "switches": [
        {
            "login_data":
            {
                "ip": "10.129.0.100",
                "port": "80",
                "username": "controle",
                "password": "teste"
            },
            "devices": [
                {
                    "name":"T1",
                    "port":"3"
                },
                {
                    "name":"T2",
                    "port":"5"
                }

            ]
        },
        {
            "login_data":
            {
                "ip": "10.129.0.101",
                "port": "80",
                "username": "controle",
                "password": "teste"
            },
            "devices": [
                {
                    "name":"T3",
                    "port":"3"
                },
                {
                    "name":"T4",
                    "port":"5"
                }
            ]
        }
    ]
}
